extends layout

block title
  title Book - #{doc}

block content
  h1 Commander

  #links
    p 
      a(href='/#{app}/') List 
      t= ' * '
      a(href='/#{app}/#{doc}/edit') Edit
      t= ' * '
      a(href='/#{app}/#{doc}/exec') Execute
      t= ' * '
      a(href='/#{app}/new') Add
    hr

  #title
    div(style='margin:3em') 
      p
        doc= 'file: '+ app + '/' + doc

  #results
    div(style='margin:3em;border:solid 1px') 
      blockquote
        results!= text
