extends layout

block title
  title #{app} List

block content
    p 
      a(href='/new') Add
    hr  
    h1  #{app} List
    ul
      - for (var id in files)
        - var f = files[id]
          li
            a(href='/#{app}/#{f}') #{f}
        
