extends layout

block title
  title  #{doc}

block content
  #links
    p 
      a(href='Index') Index 
      t= ' * '
      a(href='/#{doc}/edit') Edit
    hr

  #title
    div(style='margin:3em') 
      h2
        doc= doc

  #results
    div(style='margin:3em;border:solid 1px') 
      blockquote
        results!= text
