extends layout

block title
  title Book - #{doc}

block content
  h1 Doc

  #links
    p 
      a(href='/') List 
      t= ' * '
      a(href='/#{doc}/edit') Edit
      t= ' * '
      a(href='/#{doc}/exec') Execute
      t= ' * '
      a(href='/new') Add
    hr

  #title
    div(style='margin:3em') 
      h2
        doc= doc

  #results
    div(style='margin:3em;border:solid 1px') 
      blockquote
        results!= text
