extends layout

block title
  title Book - #{doc}

block content
  h1 #{app}

  #links
    p 
      a(href='/#{app}/') List 
      t= ' * '
      a(href='/#{app}/#{doc}/edit') Edit
    hr

  #title
    div(style='margin:3em') 
      p
        doc= 'file: /home/seaman/Code/hammer/notes/doc/'+ app + '/' + doc

  #results
    div(style='margin:3em;border:solid 1px') 
      blockquote
        results!= text